.worker-login-mobile-wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  background-color: #ecf0f1;
  align-items: center;
  .worker-login-container {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    .left {
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;

      background: #509d8e;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: -webkit-linear-gradient(to right, #27ae60, #63c7ab);
      background: linear-gradient(to right, #27ae60, #63c7ab);
      .image {
        padding: 0px 30px;
        .icon {
          font-size: 50px;
        }
      }
      .description {
        font-size: 32px;
        color: white;
        padding-bottom: 10px;
      }
    }
    .right {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0px 50px;
      flex-direction: column;
      position: relative;
      min-height: 380px;
      .login-form {
        .submit-button {
          background-color: #27ae60;
          border: none;
          span {
            color: white;
          }
        }
      }
      .title {
        font-size: 36px;
        font-weight: 1000;
        padding-bottom: 0px;
        color: #27ae60;
      }
      .desc {
        padding-bottom: 30px;
        max-width: 200px;
        text-align: center;
      }
      .help {
        bottom: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .help-up {
          font-size: 24px;
        }
        .help-down {
          font-size: 24px;
          display: flex;
          flex-direction: row;
          .sdt {
          }
        }
      }
    }
  }
}
