.section-subtitle {
    display: flex;
    justify-content: space-between;
}
.form-edit .btn-action {
    display: flex;
    justify-content: flex-end;
    gap: 1em;

    button {
        &:first-child {
            background-color: #7451f8;
        }
        &:last-child {
            background-color: whitesmoke;
            color: black;
        }
    }
}
