.create-task-wrapper {
  min-height: 85vh;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  .create-task-container {
    flex: 1;
    background-color: #f0f4f6;
    border-radius: 20px;
    margin-top: 20px;
    .create-task-upper{
        display: flex;
        flex-direction: column;
        .create-task-title{
            text-align: center;
            font-size: 30px;
            padding: 20px 0px;
            font-weight: 800;
            color: #27ae60;
        }
        .create-task-form{
            font-family: 'Courier New', Courier, monospace;
        }
    }
    .create-task-down{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;

        .submit{
            background-color: #27ae60;
            color: white;
            border-style: none;
            border-radius: 10px;
            font-size: 20px;
            padding: 5px 10px;
        }
    }
  }
}
