@import "./style.scss";
.captain-progress-page-wrapper {
  min-height: 85vh;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  .progress-page-container {
    flex: 1;
    border-radius: 20px;
    margin-top: 20px;

    .progress-page-upper {
      display: flex;
      flex-direction: column;

      .progress-page-title {
        font-size: 30px;
        padding: 20px 0px;
        font-weight: 800;
        color: #27ae60;
      }
      .progress-page-description {
        font-size: 16px;
        padding: 0px 20px;
        font-weight: 500;
      }
    }
    .progress-page-down {
      padding-left: 50px;
      .progress-page-general {
        display: grid;
        gap: 0px;
        padding: 10px 0px;
        @include responsive_320 {
          grid-template-columns: 1fr;
        }

        @include responsive_375 {
          grid-template-columns: 1fr;
        }

        @include responsive_425 {
          grid-template-columns: 1fr;
        }

        @include responsive_768 {
          grid-template-columns: 1fr 1fr;
        }

        @include responsive_992 {
          grid-template-columns: 1fr 1fr;
        }

        @include responsive_1024 {
          grid-template-columns: 1fr 1fr;
        }

        @include responsive_1200 {
          grid-template-columns: 1fr 1fr;
        }
        .prog-card-wrapper-1 {
          display: grid;
          gap: 30px;
          padding: 10px 15px;
          padding-right: 0px;
        }
      }
      .progress-page-small {
        display: grid;
        gap: 30px;
        padding: 10px 0px;
        @include responsive_320 {
          grid-template-columns: 1fr;
        }

        @include responsive_375 {
          grid-template-columns: 1fr;
        }

        @include responsive_425 {
          grid-template-columns: 1fr;
        }

        @include responsive_768 {
          grid-template-columns: 1fr 1fr;
        }

        @include responsive_992 {
          grid-template-columns: 1fr 1fr;
        }

        @include responsive_1024 {
          grid-template-columns: 1fr 1fr;
        }

        @include responsive_1200 {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
}
.manager-progress-page-wrapper {
  min-height: 85vh;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  .progress-page-container {
    flex: 1;
    border-radius: 20px;
    margin-top: 20px;
    .progress-page-upper {
      display: flex;
      flex-direction: row;
      align-items: center;
      .progress-page-title {
        font-size: 30px;
        padding: 0px 0px;
        font-weight: 800;
        color: #27ae60;
      }
      .progress-page-calender {
        font-size: 16px;
        .ant-picker {
          border: none;
          max-width: 50px;
          .anticon {
            svg {
              font-size: 20px;
              fill: #27ae60;
              color: black;
            }
          }
        }
        input {
          visibility: hidden;
        }
      }
    }
    .progress-page-down {
      display: grid;
      gap: 30px;
      padding: 10px 0px;
      @include responsive_320 {
        grid-template-columns: 1fr;
      }

      @include responsive_375 {
        grid-template-columns: 1fr;
      }

      @include responsive_425 {
        grid-template-columns: 1fr;
      }

      @include responsive_768 {
        grid-template-columns: 1fr 1fr;
      }

      @include responsive_992 {
        grid-template-columns: 1fr 1fr;
      }

      @include responsive_1024 {
        grid-template-columns: 1fr 1fr;
      }

      @include responsive_1200 {
        grid-template-columns: 1fr 1fr;
      }
      .attend-chart-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        .chart-wrapper {
          max-width: 600px;
          min-width: 600px;
        }
      }
    }
    .under {
      .all-work-chart-wrapper {
        padding-top: 40px;
        padding-bottom: 60px;
        .title{
          font-size: 24px;
          font-weight: 800;
        }
        
      }
      .all-work-table-wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
        .progress-table {
          .prog-container {
            display: flex;
            flex-direction: row;
            .prog {
              padding-right: 10px;
            }
            .icon-down {
              color: red;
            }
            .icon-up {
              color: #27ae60;
            }
          }
        }
      }
    }
  }
}
