.section {
    margin-top: 30px;
    .section_title {
        font-size: 1.5rem;
        font-weight: bold;
        color: #048785;
    }
    .section_content {
        padding-left: 30px;
        padding-top: 18px;
    }
}
